.page-wrapper {
  margin: 0;

  overflow-x: hidden;

  background-color: #fdfaf3;

  font-family: "Raleway", "Arial", sans-serif;
  font-size: 18px;
  line-height: 25px;
  font-weight: 300;
  color: $page-font-color;
}
